<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdleEth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdleEth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IdleEth.Properties.Settings>
            <setting name="IdleWaitTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Worker" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="CustomWallet" serializeAs="String">
                <value>70eaf0909e96463bddc2d099cbaa0052cddffaf2</value>
            </setting>
            <setting name="ActiveWallet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPUType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoMine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualMine" serializeAs="String">
                <value>False</value>
            </setting>
        </IdleEth.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IdleEth.Properties.Settings>
            <setting name="MinerURL" serializeAs="String">
                <value>https://github.com/ethereum-mining/ethminer/releases/download/v0.13.0/ethminer-0.13.0-Windows.zip</value>
            </setting>
            <setting name="MinerZip" serializeAs="String">
                <value>ethminer-0.13.0-Windows.zip</value>
            </setting>
            <setting name="MinerFile" serializeAs="String">
                <value>bin\\ethminer.exe</value>
            </setting>
            <setting name="MinerSHA1" serializeAs="String">
                <value>F5D363B3009C4E9FE69F6E16208A90EE593285FC</value>
            </setting>
            <setting name="Wallets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>70eaf0909e96463bddc2d099cbaa0052cddffaf2</string>
                        <string>96af7cdad701ad7feb2d5c445c591dd1dd7773a1</string>
                        <string>97f78c05b7a59465be2e9640baa4e13fa35cce0d</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IdleEth.Properties.Settings>
    </applicationSettings>
</configuration>